.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 720px;
  margin: auto;
}

.bg-grad {
  position: absolute;
  z-index: 0;

  height: 100%;
  width: 100%;
}

/* Gradients */
.sky-gradient-00, .sky-gradient-24 { background: #00000c; }
.sky-gradient-01 { background: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-gradient-02 { background: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-gradient-03 { background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-gradient-04 { background: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-gradient-05 { background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-gradient-06 { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-gradient-07 { background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-gradient-08 { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-gradient-09 { background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.sky-gradient-10 { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-gradient-11 { background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-gradient-12 { background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-gradient-13 { background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%); }
.sky-gradient-14 { background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%); }
.sky-gradient-15 { background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%); }
.sky-gradient-16 { background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%); }
.sky-gradient-17 { background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); }
.sky-gradient-18 { background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%); }
.sky-gradient-19 { background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); }
.sky-gradient-20 { background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%); }
.sky-gradient-21 { background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); }
.sky-gradient-22 { background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); }
.sky-gradient-23 { background: linear-gradient(to bottom, #00000c 80%,#150800 100%); }

.containerx {
  height: 100%;
  margin: auto;
}
.card span {
  font-weight: 600;
}

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200vh;
  }
  .card {
    width: 100%;
    margin: 10px;
    border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      top: 0;
  transition: all .1s ease-in;

  }

  .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 20%;
    }
.ritsa-hairfront {
  background: url('../api/sprites/Ritsa/hair/hairfront.png') no-repeat;
}
.ritsa-hairback {
  background: url('../api/sprites/Ritsa/hair/hairback.png') no-repeat;
}
.ritsa-face {
  background: url('../api/sprites/Ritsa/eyes/eyespurple1.png') no-repeat;

}
.ritsa-body {
  background: url('../api/sprites/Ritsa/body/body.png') no-repeat;
}
.ritsa-bodydress {
  background: url('../api/sprites/Ritsa/body/bodydress.png') no-repeat;
}
.ritsa-arms-toward {
  background: url('../api/sprites/Ritsa/arms/armstoward1.png') no-repeat;
}
.ritsa-arms-outward {
  background: url('../api/sprites/Ritsa/arms/armsoutward1.png') no-repeat;

}
.layana-hairfront {
  background: url('../api/sprites/Layana/hair/hairgreen.png') no-repeat;
}
.layana-hairback {
  background: url('../api/sprites/Layana/hair/hairbackgreen.png') no-repeat;
}
.layana-face {
  background: url('../api/sprites/Layana/eyes/eyesgreen1.png') no-repeat;

}
.layana-body {
  background: url('../api/sprites/Layana/body/bodyfull.png') no-repeat;
}
.layana-bodydress {
  background: url('../api/sprites/Layana/body/body.png') no-repeat;
}
.layana-arms-down {
  background: url('../api/sprites/Layana/arms/armdown.png') no-repeat;
}
.layana-arms-across {
  background: url('../api/sprites/Layana/arms/armcross.png') no-repeat;
}

.hairfront {
  z-index: 3;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
.hairback {
  z-index: 1;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
.face {
  z-index: 2;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
.body {
  z-index: 1;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.bodydress {
  z-index: 3;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.arms {
  z-index: 3;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
.accessory1 {
  z-index: 3;
  width: 390px; /* Icon width */
  height: 734px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

@media only screen and (max-width: 1279px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 568px) {
  .container {
    overflow-x: hidden;
  }
}
/* 270x 500 */

.bg {
  position: absolute;
  left: 50%;
  margin-left: -640px;
}

.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.sprite {
	position: absolute;
	bottom: 0;
	margin: auto;
  z-index: 1;

}

.sprites {
  position: absolute;
  margin: auto;
}

/* @media only screen and (max-width: 550px) {
  .sprites {
    position: absolute;
    margin: auto;
    bottom: -120px;
  }

} */


.sprite-center {
	display: flex;
	justify-content: center;
}

.first-sprite {
  left: 70%;
}
.second-sprite {
  left: 30%;
}

.text-box {
  position: fixed;
  bottom: 8%;
  margin: auto;
  left: 50%;
  z-index: 4;
  padding: 0px 20px;
  border-radius: 10px;
  color: black;
  transform: translate(-50%, 0);
  background-color: rgba(250, 250, 250, 0.9);
  background-image: linear-gradient(#61d1d1 1px, transparent 1px);
  background-size: 100% 33.33%;
  width: 880px;
  height: 130px;
}

/* 1100px for smooth transition from 880px to 80% width */
@media only screen and (max-width: 1100px) {
  .text-box {
    width: 80%;
  }
}

@media only screen and (min-height: 768px) {
  .text-box {
    position: absolute;
    bottom: 4%;
  }
  .menu-buttons {
    position: relative;
    bottom: 0px;
    z-index: 6;
    width: 100%;
    float: left;
}

}


.text {
  margin-top: 6px;
  font-size: 22px;
  line-height: 1.95;
}

@media only screen and (max-width: 768px) {
  .text {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.72;

  }
  .text-box {
    background-size: 100% 25%;
    height: 140px;

  }
  .speaker {
    bottom: 139px;
  }
}

.speaker {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4c9ea9, #429494);
  border-radius: 30px;
  position: absolute;
  bottom: 129px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: -35px;
  width: 290px;
  height: 38px;
  font-size: 28px;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .speaker {
    bottom: 139px;
  }
}

/* Speaker box's bottom arrow */
.speaker:before {
  content: "";
  position: absolute;
  right: 230px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-top: 13px solid #4c9ea9;
  border-right: 11px solid transparent;
}

/* React CSS Transition Groups animations*/

/* Sprite animations*/
.sprite-enter {
  opacity: 0;
}

.sprite-enter.sprite-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.sprite-leave {
  opacity: 1;
}

.sprite-leave.sprite-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* BG & textbox animations for scenery change */
.scene-enter {
  opacity: 0;
}

.scene-enter.scene-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.scene-leave {
  opacity: 1;
}

.scene-leave.scene-leave-active {
  opacity: 0;
  transition: opacity 1700ms ease-in;
}

/* menu transitions */
.menu-enter {
  opacity: 0;
}

.menu-enter.menu-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.overlay-choices {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay .choice-button {
  font-size: 26px;
  width: 750px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: #1d75a5;
  border: none;
  color: white;
  padding: 12px 0px;
  cursor: pointer;
  display: block;
}

@media only screen and (max-width: 833px) {
  .overlay .choice-button {
    padding: 10px 0px;
    font-size: 20px;
    width: 90%;
  }
}

/* Add a background color on hover */
.overlay .choice-button:hover {
  background-color: white;
  color: #1d75a5;
}

.backlog-overlay {
  overflow: auto;
  margin: auto;
  height: 95%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.backlog {
  box-sizing: border-box;
  background-color: #eee;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#ddd 2px, transparent 2px);
  background-size: 100% 33.33%;
  font-size: 22px;
  width: 100%;
  height: 104px;
  padding-top: 3px;
  line-height: 1.52;
  padding-left: 93px;
}

@media only screen and (max-width: 768px) {
  .backlog {
    background-image: linear-gradient(
        90deg,
        transparent 45px,
        #abced4 45px,
        #abced4 47px,
        transparent 47px
      ),
      linear-gradient(#ddd 2px, transparent 2px); /* shifts blue line margin to left */
    padding-left: 59px;
    font-size: 18px;
    padding-top: 2px;
    line-height: 1.45;
    background-size: 100% 25%;
  }
}

.backlog-speaker {
  font-weight: 500;
  color: DarkGreen;
}

.menu-buttons-container {
  z-index: -1;
  overflow: visible;
}

.menu-buttons {
  position: relative;
  z-index: 6;
  bottom: 0px;
  width: 100%;
  float: left;
}

.menu-buttons button {
  /* credit source https://codepen.io/tmrDevelops/full/VeRvKX/ */
  border: solid 2px #41403e; /* can substitute for others */
  -ms-flex-item-align: center;
  align-self: center;
  background: transparent;
  padding: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 24px;
  letter-spacing: 1px;
  outline: none;
  -webkit-box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
  margin-right: 15px;
  cursor: pointer;
}

.menu-buttons button:hover {
  background-color: #1b9878;
  /* For hidden button to appear from transparent */
  -webkit-box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  color: #fdfdfd; /* same as bg color */
  border: solid 2px #41403e;
}

@media only screen and (max-width: 1100px) {
  .menu-buttons button {
    font-size: 18px;
    padding: 8px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .menu-buttons button {
    float: none;
    font-size: 16px;
    padding: 6px;
    margin-top: 10px;
  }
}

.menu-buttons button:last-child {
  margin-right: 0; /* for symmetry; prevents rightmost button margin*/
}

/* toggle menu button */
.shown-button {
  float: right;
}

/*  toggle menu button */
.hidden button {
  margin-left: 15px;
  float: right;
  background-color: transparent;
  color: transparent;
  border: solid 2px transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Save and Load menus */

.overlay-menu {
  background-color: #107896;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1279px) {
  .overlay-menu {
    overflow: auto;
  }
}

.menu-slot {
  position: relative;
  box-shadow: 0px 2px 3px 2px #222;
  background: #333;
  width: 100%;
  height: 215px;
  border: 0.1px solid transparent;
  cursor: pointer;
}

.menu-slot:hover {
  box-shadow: 0px 4px 5px 3px #222;
}

#menu-type-slot {
  cursor: auto;
}
.empty-menu-slot {
  background: rgba(51, 51, 51, 0.9);
}

.slot-bg {
  position: absolute;
  width: 100%;
  height: 168.75px;
}

.slot-text-box {
  width: 80%;
  height: 50px;
  bottom: 55px;
  padding: 0 0px 0 5px;
}

.slot-text {
  height: 24px;
  width: 90%;
  height: 40px;
  font-size: 12px;
  margin-top: 2px;
  line-height: 1.35;
}

.slot-speaker {
  margin-left: -10px;
  top: -26px;
  padding-top: 3px;
  height: 23px;
  width: 110px;
  font-size: 16px;
}

.slot-speaker:before {
  content: "";

  right: 80px;
  top: 26px;

  border-left: 4px solid transparent;
  border-top: 5px solid #4c9ea9;
  border-right: 4px solid transparent;
}

.slot-sprite {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 168.75px;
}

.slot-date {
  font-size: 16px;
  margin-top: 172px;
  padding: 0 10px;
  text-align: center;
  color: white;
}

.menu-slot-container {
  float: left;
  width: 300px;
  margin: 20px 10px 0;
}

#save-load-logo {
  text-align: center;
  color: white;
  font-size: 46px;
  position: absolute; /* 2 */
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#leave-menu-button {
  position: absolute; /* 2 */
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -90%);
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0096cc;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #007099;
}

#leave-menu-button:hover {
  background-color: #007099;
  transform: translate(-50%, -100%);
}
